services:
  redis:
    restart: unless-stopped
    container_name: ${REDIS_NAME}
    image: redis/redis-stack-server:latest
    environment:
      REDIS_ARGS: "--requirepass ${REDIS_PASSWORD}"
    ports:
      - '${REDIS_PORT}:6379'
    volumes:
      - ./.docker/redis/storage:/data
      - ./.docker/redis/modules:/usr/lib/redis/modules
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: app_server
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "5080:5080"
    env_file:
      - .env
    environment:
      REDIS_SERVER: redis
      POSTGRES_SERVER: postgres
      NODE_ENV: production
      PORT: 3000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres:alpine
    restart: unless-stopped
    container_name: ${POSTGRES_NAME}
    command: postgres -c max_connections=200 -c listen_addresses='*'
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - ./.docker/postgres/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./.docker/postgres/storage:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5

  uptime:
    restart: unless-stopped
    image: louislam/uptime-kuma:1
    container_name: ${UPTIME_NAME}
    volumes:
      - ./.docker/uptime:/app/data
    ports:
      - ${UPTIME_PORT}:3001

networks:
  default:
    driver: bridge
