services:
  redis:
    restart: unless-stopped
    container_name: ${REDIS_NAME}
    image: redis/redis-stack-server:latest
    environment:
      REDIS_ARGS: "--requirepass ${REDIS_PASSWORD}"
    ports:
      - '${REDIS_PORT}:6379'
    volumes:
      - ./.docker/redis/storage:/data
      - ./.docker/redis/modules:/usr/lib/redis/modules

  postgres:
    image: postgres:alpine
    restart: unless-stopped
    container_name: ${POSTGRES_NAME}
    command: postgres -c max_connections=200 -c listen_addresses='*'
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - ./.docker/postgres/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./.docker/postgres/storage:/var/lib/postgresql/data

  uptime:
    restart: unless-stopped
    image: louislam/uptime-kuma:1
    container_name: ${UPTIME_NAME}
    volumes:
      - ./.docker/uptime:/app/data
    ports:
      - ${UPTIME_PORT}:3001

networks:
  default:
    driver: bridge
