name: Deploy Docs (Preview)

on:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest

      - name: Install documentation dependencies
        run: bun install
        working-directory: docs

      - name: Set version
        id: set_version
        run: |
          if [ "${{ github.event_name }}" == "release" ]; then
            VERSION="${{ github.event.release.tag_name }}"
          else
            LATEST_RELEASE=$(curl -s https://api.github.com/repos/rslucena/TypeScript-Boilerplate/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
            VERSION=${LATEST_RELEASE:-"1.0.0"}
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build VitePress docs
        run: bun run build
        working-directory: docs
        env:
          VITE_APP_VERSION: ${{ env.VERSION }}
          VITE_APP_ENV: ${{ github.ref_name }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/.vitepress/dist
          destination_dir: .
          keep_files: true
