name: "Close Stale Issues and PRs"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10.1.1
        with:
          stale-issue-message: "This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 15 days."
          close-issue-message: "This issue was closed because it has been stalled for 15 days with no activity."
          stale-pr-message: "This PR is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 15 days."
          close-pr-message: "This PR was closed because it has been stalled for 15 days with no activity."
          stale-issue-label: "stale"
          days-before-stale: 30
          days-before-close: 15
