name: Tests

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH
        shell: bash

      - name: Verify Bun installation
        run: bun --version

      - name: Install dependencies
        run: bun install

      - name: Run tests
        env:
          NODE_ENV: test
          REDIS_STACK: false
        run: bun tests
